.side-bar
  .side-bar-header
    .side-bar-header__box
      .side-bar-header__user-name
        masa
      .side-bar-header__icons
        .side-bar-header__edit-icon
          = link_to new_group_path do
            %i.fa.fa-edit         
        .side-bar-header__cog-icon
          = link_to edit_user_path(current_user.id) do
            %i.fa.fa-cog
        
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .side-bar__current-group
            = group.name
          .side-bar__message
          
