.side-bar
  .side-bar-header
    .side-bar-header__box
      .side-bar-header__user-name
        masa
      .side-bar-header__icons
        .side-bar-header__edit-icon
          = link_to "#"  do
            %i.fa.fa-edit         
        .side-bar-header__cog-icon
          = link_to "#"  do
            %i.fa.fa-cog
        
  .side-bar__group-list
    .side-bar__current-group
      techcamp
    .side-bar__messages
      まだメッセージがありません

     
 
